@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);

/* 숨긴 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  /* background-color: #ccc;
  background-image: url(./images/bg_flower.png), linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0; */
  background: url(./images/bg_flower.png) no-repeat 50% 0, #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) repeat 0 0;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  position: relative;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 1;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(10px);
}

.member li {
  display: inline-block;
}

.member a {
  display: inherit;
  padding: 6px 10px;
  text-transform: uppercase;
}

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  position: relative;
  height: 47px;
  padding-left: 230px;
  border-top: 2px solid currentColor;
  border-radius: 0 0 5px 5px;
  background: green radial-gradient(circle at right top, green, orangered, green, orangered);
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

.menu-button {
  border: 0;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #212121, 2px 2px 0 #212121;
  background: transparent;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #212121;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 47px;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
  padding-left: 1em;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a::before {
  content: "\e804";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e800";
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: green;
}

/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeEffect 2s infinite alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px, url(./images/ani_flower_02.png) no-repeat 600px 0;
  animation-delay: 1s;
}

.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 300px 0, url(./images/ani_flower_04.png) no-repeat 800px 0;
}

.visual-text {
  display: inline-block;
  animation: moveEffect 2s forwards;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* 메인 */
.main {
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
  background-color: sandybrown;
}
.group3 {
  width: 190px;
  background-color: mediumpurple;
}

.login {
  padding: 10px;
  border-radius: 5px;
  background: green radial-gradient(circle at right top, green, orangered, green, orangered);
  box-shadow: 5px 5px 0 0 #ccc;
}

.login-title {
  font-size: 15px;
  font-weight: 700;
  text-indent: 10px;
  color: #fff;
}

.login-form {
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}

.login fieldset {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid green;
}

.user-email,
.user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 50px;
}

.login-form input {
  width: 95px;
  height: 24px;
  border: 1px solid green;
  border-radius: 2px;
}

.login-button {
  position: absolute;
  width: 50px;
  height: 53px;
  top: 0;
  right: 0;
  font-size: 12px;
  border: 0;
  border-radius: 2px;
  color: #fff;
  background: green radial-gradient(circle at right top, orangered, green);
}

.sign {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

.sign a {
  display: block;
  padding: 5px 0;
  letter-spacing: -1px;
}

.sign a::before {
  content: "\e803";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: green;
}

/* 슬로건 */
.slogan {
  height: 10vh;
  clear: both;
  background-color: skyblue;
}

/* 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

.footer-inner {
  height: 15vh;
  background-color: cornflowerblue;
}
